<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roomies</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
</head>
<body>
        <nav>
            <div class="nav-logo">Roomies</div>
            {{#if isAuthenticated}}
            <ul class="nav-links">
                <li class="link"><a href="/explore">Explore</a></li>
                <li class="link"><a href="/showMatchedUsers">Chats</a></li>
                <li class="link"><a href="/preferences">See Based On Preference</a></li>
                <li class="link"><a href="/profile">Profile</a></li>
            </ul>
            {{/if}}
            {{#if isAuthenticated}}
                <a href="/logout"><button class="btn">Logout</button></a>
            {{else}}
                <a href="/login"><button class="btn">Login</button></a>
            {{/if}} 
        </nav> 
    {{{body}}}
<script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous">
        
        
        </script>
</body>
</html>
