<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roomies</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
</head>
<body>
        <nav>
            <div class="nav-logo">Roomies</div>
            <ul class="nav-links">
                <li class="link"><a href="explore.html">Explore</a></li>
                <li class="link"><a href="chats.html">Chats</a></li>
                <li class="link"><a href="profile.html">Profile</a></li>
            </ul>
            {{#if isLoggedIn}}
                <button class="btn" id="loginBtn">Logout</button>
            {{else}}
                <a href="/login"><button class="btn">Login</button></a>
            {{/if}} 
        </nav> 
    {{{body}}}
        {{!-- <script src="/js/script.js"></script> --}}
</body>
</html>