<!-- This template will be used to render chat messages -->
{{#each messages}}
    <div class="chat-message">
        <p>Sender ID: {{sender_id}}</p>
        <p>Receiver ID: {{receiver_id}}</p>
        <p>Message: {{message}}</p>
    </div>
{{/each}}

