<div class="chat-window">
  <div class="user-list">
    {{#each users}}
      <div class="user-item">
        <span class="username">{{this}}</span>
      </div>
    {{/each}}
  </div>
  <div class="chat-area">
    <!-- Conversation messages would be rendered here -->
  </div>
  <div class="message-input">
    <input type="text" placeholder="Enter Message here" />
    <button>Send</button>
  </div>
</div>