<script id="explore-profile-card" type="text/x-handlebars-template">
  <div class="exp-pro-card">
    <div class="exp-img">
      <img src="{{imageUrl}}" alt="" class="exp-pro-img">
    </div>
    <div class="exp-pro-text-data">
      <span class="exp-name">{{name}}</span>
      <span class="exp-job">{{profession}}</span>
      <br>
      <br>
    </div>
    <div class="exp-button">
      <button class="btn">NO</button>
      <button class="btn">More Info</button>
      <button class="btn">Yes</button>
    </div>
  </div>
</script>
