<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="roomies\backend\frontend\public\css\styles.css">
    <title>Find Your Roommate</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav-logo">Roomies</div>
            <ul class="nav-links">
                <li class="link"><a href="explore.html">Explore</a></li>
                <li class="link"><a href="chats.html">Chats</a></li>
                <li class="link"><a href="profile.html">Profile</a></li>
            </ul>

            
            {{#if isLoggedIn}}
                <button class="btn" id="loginBtn">Logout</button>
            {{else}}
                <a href="login.html"><button class="btn">Login</button></a>
            {{/if}}
            
            
            
        </nav>
        <header class="header">
            <div class="content">
                <h1><span>Find Your</span><br>Roomies Here</h1>
                <p>
                    Find your perfect roommate effortlessly. 
                    Our smart algorithm matches you based on your 
                    lifestyle and preferences. Say goodbye to endless 
                    searching and hello to hassle-free living. Sign up 
                    now and find your ideal roommate!"
                </p>
                <a href="explore.html"><button class="btn">Explore People</button></a>
            </div>
            <div class="img">
                <span class="img-bg"></span>
                <img src="roomies\backend\frontend\public\css\index-img-1.jpg" alt="header image">
                <div class="img-content img-content-1">
                    <span><i class="ri-user-3-line"></i></span>
                    <div class="details">
                        <h4>1520+</h4>
                        <p>found their roommates</p>
                    </div>
                </div>
                
            </div>
        </header>
    </div>

    <script src="layouts/login.hbs"></script>
    <script src="backend/frontend/public/js/script.js"></script>

    

    
</body>
</html>