<div class="container">
        <header class="header">
            <div class="content">
                <h1><span>Find Your</span><br>Roomies Here</h1>
                <p>
                    Find your perfect roommate effortlessly. 
                    Our smart algorithm matches you based on your 
                    lifestyle and preferences. Say goodbye to endless 
                    searching and hello to hassle-free living. Sign up 
                    now and find your ideal roommate!"
                </p>
                <a href="explore.html"><button class="btn">Explore People</button></a>
            </div>
            <div class="img">
                <span class="img-bg"></span>
                <img src="/css/index-img-1.jpg" alt="header image">
                <div class="img-content img-content-1">
                    <span><i class="ri-user-3-line"></i></span>
                    <div class="details">
                        <h4>1520+</h4>
                        <p>found their roommates</p>
                    </div>
                </div>
                
            </div>
        </header>
    </div>

