<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="roomies\backend\frontend\public\css\styles.css">
</head>
<body id="body-register">
    <div class="container-register">
        <div class="form-register">
            <h1>Login</h1>
            <button id="loginIndividualBtn" type="button" class="btn">Login as an Individual</button>
            <button id="loginGroupBtn" type="button" class="btn">Login as a Group</button>
            <p>Don't Have an account? <a href="register.html">Register here</a></p>
        </div>
    </div>
    
    <script src="roomies\backend\frontend\public\js\script.js"></script>
</body>
</html>
