<!-- This template will be used to render chat messages -->
<div class="chat-window">
  <div class="user-list">
    {{#each profile}}
      <div class="user-item">
        <span class="username">{{username}}</span>
      </div>
    {{/each}}
  </div>
  <!-- Conversation messages would be rendered here -->
  <div class="chat-area">
    {{#each messages}}
    <div class="chat-message">
        <p>Sender ID: {{sender_id}}</p>
        <p>Receiver ID: {{receiver_id}}</p>
        <p>Message: {{message}}</p>
    </div>
{{/each}}
    
  </div>
  <div class="message-input">
    <input type="text" placeholder="Enter Message here" />
    <button>Send</button>
  </div>
</div>