<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="roomies\backend\frontend\public\css\styles.css">
</head>
<body id="body-register">
  <div class="container-register">
    <div class="form-register">
      <h1>Register</h1>
      <form id="register-form">
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
        <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
        <input type="text" id="bio" name="bio" placeholder="Bio" required>
        <input type="number" id="age" name="age" placeholder="Age" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <input type="file" id="profilePicture" name="profilePicture" accept="image/*" required>
        <button type="submit" class="btn">Register</button>
      </form>
      <p>Already have an account? <a href="login.html">Login here</a></p>
    </div>
  </div>

  <script>
    document.getElementById("register-form").addEventListener("submit", async function(event) {
      event.preventDefault(); 

      const formData = new FormData();
      formData.append('username', document.getElementById("username").value);
      formData.append('email', document.getElementById("email").value);
      formData.append('firstName', document.getElementById("firstName").value);
      formData.append('lastName', document.getElementById("lastName").value);
      formData.append('bio', document.getElementById("bio").value);
      formData.append('age', document.getElementById("age").value);
      formData.append('password', document.getElementById("password").value);
      formData.append('profilePicture', document.getElementById("profilePicture").files[0]);

      try {
        const response = await fetch('/register', {
          method: 'POST',
          body: formData
        });

        const data = await response.json();

        if (response.ok) {
          // Registration successful
          alert(data.message); // Display success message
          // Redirect to login page
          window.location.href = '/login.html';
        } else {
          // Registration failed
          alert(data.message); // Display error message
        }
      } catch (error) {
        console.error('Error:', error);
        alert('An error occurred. Please try again later.');
      }
    });
  </script>
</body>
</html>
