

  <div id="body-register" class="container-register">
    <div class="form-register">
      <h1>Register</h1>
      <form id="register-form"  action="/api/v1/users/register" method="POST" enctype="multipart/form-data">
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
        <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
        <input type="text" id="bio" name="bio" placeholder="Bio" required>
        <input type="number" id="age" name="age" placeholder="Age" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
        <input type="file" id="profile_picture" name="profile_picture" accept="image/*" required>
        <button type="submit" class="btn">Register</button>
      </form>
      <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
  </div>