<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="roomies\backend\frontend\public\css\styles.css">
</head>
<body id="body-register">
    <div class="container-register">
        <div class="form-register">
            <h1>Register</h1>
            <button id="registerIndividualBtn" type="button" class="btn">Register as an Individual</button>
            <button id="registerGroupBtn" type="button" class="btn">Register as a Group</button>
            <p>Don't Have an account? <a href="login.html">Login here</a></p>
        </div>
    </div>

    <script src="roomies\backend\frontend\public\js\script.js"></script>
</body>
</html>
