
  <div id="body-register" class="container-register">
    <div class="form-register">
      <h1>Register Group</h1>
      <form id="register-group-form" action="/api/v1/groups/register" method="POST" enctype="multipart/form-data">
        <input type="text" id="name" name="name" placeholder="Group Name" required>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
        
        <button id="add-member1-btn" onclick="toggleMemberFields('member4')">Add Member 4</button>
        <div id="member1-fields" class="member-fields">
            <p>Member 1:</p>
            <div class="form-group">
                <input id="firstName" name="firstName" placeholder="First Name">
                <input id="lastName" name="lastName" placeholder="Last Name">
                <input id="age" name="age" placeholder="Age">
                <input id="email" name="email" placeholder="Email">
                <input id="gender" name="gender" placeholder="Gender">
            </div>  
        </div>
        <button id="add-member2-btn" onclick="toggleMemberFields('member4')">Add Member 4</button>
        <div id="member2-fields" class="member-fields">
            <p>Member 2:</p>
            <div class="form-group">
                <input id="firstName" name="firstName" placeholder="First Name">
                <input id="lastName" name="lastName" placeholder="Last Name">
                <input id="age" name="age" placeholder="Age">
                <input id="email" name="email" placeholder="Email">
                <input id="gender" name="gender" placeholder="Gender">
            </div>  
        </div>
        <button id="add-member3-btn" onclick="toggleMemberFields('member4')">Add Member 4</button>
        <div id="member3-fields" class="member-fields">
            <p>Member 3:</p>
            <div class="form-group">
                <input id="firstName" name="firstName" placeholder="First Name">
                <input id="lastName" name="lastName" placeholder="Last Name">
                <input id="age" name="age" placeholder="Age">
                <input id="email" name="email" placeholder="Email">
                <input id="gender" name="gender" placeholder="Gender">
            </div>  
        </div>
        <button id="add-member4-btn" onclick="toggleMemberFields('member4')">Add Member 4</button>
        <div id="member4-fields" class="member-fields">
            <p>Member 4:</p>
            <div class="form-group">
                <input id="firstName" name="firstName" placeholder="First Name">
                <input id="lastName" name="lastName" placeholder="Last Name">
                <input id="age" name="age" placeholder="Age">
                <input id="email" name="email" placeholder="Email">
                <input id="gender" name="gender" placeholder="Gender">
            </div>  
        </div>
        <input type="text" id="bio" name="bio" placeholder="Bio" required>
        <input type="number" id="age" name="age" placeholder="Age" required>
        <div class="form-group">
          <label for="profile_picture">Profile Picture:</label>
          <input type="file" id="profile_picture" name="profile_picture" accept="image/*" required>
        </div>
        <button type="submit" class="btn">Register</button>
      </form>
      <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
  </div>